<!DOCTYPE html>
<html>
  <head>
    <title>gurgl</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
<body>
   <div id="page">
      <img src="/images/gurglLogo.svg" alt="Gurgl Logo" />
   </div>
   <ul class= "clothing item">
      {{#each members}}
        <li>{{clothing_ID}}</li>
         <ul>
           <li>Photo_0</li>
           <li>Photo_1</li>
         </ul>
        <li>{{styleID}}</li>
        <li>{{size_ID}}</li>
        <li>{{brand_ID}}</li>
        <li>{{condition_ID}}</li>
        <li>{{status_ID}}</li>
        <li>{{description}}</li>

      {{#each}}
   </ul>
</body>
</html>
